{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="text-center mb-5">Nos produits</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for product in products %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }} €</td>
                    <td>
                        <a class="btn btn-secondary" href="{{ path('app_product_show', {'slug': product.slug}) }}">
                            Voir le produit
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <nav>
        <ul class="pagination">
            {% if currentPage > 1 %}
                <li class="page-item"><a class="page-link" href="{{ path('app_product_list', {'page': currentPage - 1}) }}">Previous</a></li>
            {% endif %}
            {% for page in 1..maxPages %}
                <li class="page-item"><a class="page-link" href="{{ path('app_product_list', {'page': page}) }}">{{ page }}</a></li>
            {% endfor %}
            {% if currentPage < maxPages %}
                <li class="page-item"><a class="page-link" href="{{ path('app_product_list', {'page': currentPage + 1}) }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}
